<%= flash_message %>

<%= form_for :session, url: login_path do |f| %>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <%= icon("fas", "at fa-fw") %>
      </span>
    </div>
    <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <%= icon("fas", "key fa-fw") %>
      </span>
    </div>
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>

  <%= f.submit "Log In", class: "btn btn-dark btn-block" %>
<% end %>
