<%= form_for [post, comment] do |f| %>
  <div class="col-12 p-0">
    <%= f.text_field :content, placeholder: "Leave a comment...", class: "form-control form-control-sm" %>
  </div>
<% end %>

<% if post.comments.size > 0 %>
  <div class="accordion mt-1" id="accordion">
    <div class="card">

      <div class="card-header p-0" id="heading_<%= post.id %>">
        <button class="btn btn-link py-0<%= " collapsed" if session[:target_post] == post.id %>" type="button" data-toggle="collapse" data-target="#collapse_<%= post.id %>">
          <small>show comments (<%= post.comments.size %>)</small>
        </button>
      </div>

      <div id="collapse_<%= post.id %>" class="collapse<%= " show" if session[:target_post] == post.id %>" data-parent="#accordion">
        <div class="card-body p-1">
          <ul class="list-group">

            <% post.comments.reverse_each do |comment| %>
              <li class="list-group-item">
                <%= link_to comment.user.full_name, user_path(comment.user) %>
                <%= comment.content %>

                <% if current_user == comment.user %>
                  <span class="float-right">
                    <%= link_to icon("fas", "trash-alt"),
                      post_comment_path(post, comment),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
                  </span>
                <% end %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>

    </div>
  </div>
<% end %>




