<div class="col-12 col-md-3">
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
    <a class="nav-link active" id="v-pills-bio-tab" data-toggle="pill" href="#v-pills-bio" role="tab">Biography</a>
    <a class="nav-link" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab">Location and Contact</a>
    <a class="nav-link" id="v-pills-social-tab" data-toggle="pill" href="#v-pills-social" role="tab">Social Media</a>
  </div>
</div>
<div class="col-12 col-md-9">
  <div class="tab-content" id="v-pills-tabContent">

    <div class="tab-pane fade show active" id="v-pills-bio" role="tabpanel">
      <dl class="row">
        <dt class="col-12 col-md-2">Biography</dt>
        <dd class="col-10 lead"><%= @user.bio %></dd>

        <dt class="col-12 col-md-2">Gender</dt>
        <dd class="col-10"><%= @user.gender&.capitalize %></dd>
      </dl>
    </div>

    <div class="tab-pane fade" id="v-pills-contact" role="tabpanel">
      <dl class="row">
        <dt class="col-12 col-md-2">Location</dt>
        <dd class="col-10"><%= @user&.location %></dd>

        <dt class="col-12 col-md-2">E-mail</dt>
        <dd class="col-10"><%= @user.email %></dd>
      </dl>
    </div>

    <div class="tab-pane fade" id="v-pills-social" role="tabpanel">
      <dl class="row">
        <dt class="col-12 col-md-2">Website</dt>
        <dd class="col-10">
          <% if @user.website %>
            <%= link_to @user.website.gsub(/(https\:\/\/)|(http\:\/\/)/, ""), @user.website %>
          <% end %>
        </dd>

        <dt class="col-12 col-md-2">Instagram</dt>
        <dd class="col-10">
          <% if @user.instagram %>
            <%= link_to @user.instagram, "https://instagram.com/#{@user.instagram}" %>
          <% end %>
        </dd>

        <dt class="col-12 col-md-2">Twitter</dt>
        <dd class="col-10">
          <% if @user.twitter %>
            <%= link_to @user.twitter, "https://twitter.com/#{@user.twitter}" %>
          <% end %>
        </dd>
      </dl>
    </div>

  </div>
</div>
