<div class="row justify-content-center mt-4">
  <div class="col-10 col-sm-9 col-md-7 col-lg-6">

    <%= form_for(@user) do |f| %>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= icon("fas", "user-alt fa-fw") %>
          </span>
        </div>
        <%= f.text_field :first_name, placeholder: "First name", class: "form-control" %>
        <%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= icon("fas", "at fa-fw") %>
          </span>
        </div>
        <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= icon("fas", "envelope fa-fw") %>
          </span>
        </div>
        <%= f.text_field :email, placeholder: "E-mail", class: "form-control" %>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <%= icon("fas", "key fa-fw") %>
          </span>
        </div>
        <%= f.password_field :password, placeholder: "•••••••", class: "form-control" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary btn-block" %>
    <% end %>

  </div>
</div>

<!-- <form>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <%#= icon("fas", "user-alt fa-fw") %>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="First name">
    <input type="text" class="form-control" placeholder="Last name">
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"><%#= icon("fas", "at fa-fw") %></span>
    </div>
    <input type="text" class="form-control" placeholder="Username">
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"><%#= icon("fas", "envelope fa-fw") %></span>
    </div>
    <input type="text" class="form-control" placeholder="E-mail">
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"><%#= icon("fas", "key fa-fw") %></span>
    </div>
    <input type="text" class="form-control" placeholder="••••••">
    <input type="text" class="form-control" placeholder="Confirm password">
  </div>
</form> -->
