<div class="col-12">

  <% if @user == current_user && @requests.size > 0 %>
    <h5>Friend Requests <%= "(#{@requests.size})" if @requests.size > 0 %></h5>

    <ul>
      <% @requests.each do |request| %>
        <li>
          <%= link_to request.user.full_name, user_path(request.user), target: "_blank" %>
          (<%= link_to "Accept", friendships_path(friend_id: request.user), method: :post %>)
        </li>
      <% end %>
    </ul>

    <hr>
  <% end %>

  <h5>Friends <%= "(#{@user.friendships.size})" if @user.friendships.size > 0 %></h5>

    <%= render partial: "friendships/friends",
      locals: {
        friendships: @user.friendships
      } %>

</div>


