<!-- LEFT COLUMN -->
<div class="col-md-5">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Intro</h5>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body pb-0">
      <h5 class="card-title">Friends</h5>

      <div class="row">
        <%#= timeline_friends(@user, @friends) %>
        <%= render partial: "friendships/friend", collection: @friends, locals: { user: @user } %>
      </div>

    </div>
  </div>
</div>
<!-- /LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div class="col-md-7">
  <div class="row">
    <div class="col">
      <%= render partial: "posts/form",
        locals: {
          user: @user,
          recipient_id: @user.id,
          post: @post
        } %>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col">
      <h5 class="mt-4 mb-3">Posts</h5>

      <p>All | <%= @user.first_name %> | <%= @user.first_name %>'s Friends</p>

      <%= render partial: "posts/post", collection: @posts,
        locals: { comment: @comment } %>

    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- col-8 -->
<!-- RIGHT COLUMN -->
