<!-- LEFT COLUMN -->
<div class="col-md-5">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><b>Intro</b></h5>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body pb-0">
      <h5 class="card-title"><b>Friends</b></h5>

      <div class="row">
        <%= render partial: "friendships/friend", collection: @friends,
          locals: {
            user: @user
          } %>

        <% if @friends.size == 0 %>
          <div class="col-12 mb-3">
            <%= current_user? ? "You have" : "#{@user.first_name} has" %> not added any friends yet.
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!-- /LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div class="col-md-7">
  <div class="row">
    <div class="col">
      <%= render partial: "posts/form",
        locals: {
          user: @user,
          recipient_id: @user.id,
          post: @post
        } %>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col">
      <h5 class="mt-4 mb-3"><b>Posts</b></h5>

      <%= render partial: "posts/post",
        collection: @posts,
        locals: { comment: @comment } %>

    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- col-8 -->
<!-- RIGHT COLUMN -->
