<!-- LEFT COLUMN -->
<div class="col-md-5">
  <div class="card mb-4">
    <!-- <div class="card-header">
      Intro
    </div> -->
    <div class="card-body">
      <h5 class="card-title">Intro</h5>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>

  <div class="card mb-4">
    <!-- <div class="card-header">
      Friends
    </div> -->
    <div class="card-body pb-0">
      <h5 class="card-title">Friends</h5>

      <div class="row">
        <% @user.friends.last(9).each do |friend| %>
          <div class="col-4 px-1 py-0 text-center">
            <%= image_tag friend.avatar, id: "friends-avatar", class: "img-fluid" %>
            <p id="friends-name"><small><%= friend.first_name %></small></p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!-- /LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div class="col-md-7">
  <div class="row">
    <div class="col">
      <%= render partial: "posts/form",
        locals: {
          user: current_user,
          post: @post
        } %>
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row">
    <div class="col">
      <h5 class="mt-4 mb-3">Posts</h5>

      <%= render partial: "posts/index",
        locals: {
          posts: @posts,
          comment: @comment
        } %>

    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- col-8 -->
<!-- RIGHT COLUMN -->
