<div class="row">
  <div class="col-12">

    <%= image_tag "https://via.placeholder.com/1280x350/000000/000000", class: "img-fluid" %>

    <div id="profile-header" class="row">

      <div class="h-100 justify-content-center flex-column d-flex pl-4">
        <%= image_tag @user.avatar, id: "profile-avatar", class: "img-fluid border border-white rounded-circle" %>
      </div>

      <div class="col col-sm">
        <div class="h-100 justify-content-center flex-column d-flex text-white">
          <h3 class="shadow-sm">
            <%= @user.full_name %>
          </h3>
          <span>(<%= @user.username %>)</span>
        </div>
      </div>

      <div class="col-auto col-sm-auto pr-5">
        <div class="h-100 justify-content-center flex-column d-flex">
          <% if status_pending?(@user) %>
            <%= button(@user, "cancel") %>
          <% elsif friends?(@user) %>
            <%= button(@user, "edit") %>
          <% else %>
            <%= button(@user, "add friend") %>
          <% end %>
        </div>
      </div>

    </div> <!-- profile-header -->

  </div> <!-- col-12 -->
</div> <!-- row -->

<div class="row">
  <div class="col-12">
    <div id="profile-nav">

      <ul class="nav nav-tabs justify-content-center mb-4" id="profileNav" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab">
            Timeline
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab">
          Friends
          </a>
        </li>
      </ul>

      <div class="tab-content" id="profileNavContent">
        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
          <div class="row">
            <%= render "timeline" %>
          </div>
        </div>

        <div class="tab-pane fade" id="about" role="tabpanel">
          <div class="row">
            <%= render "about" %>
          </div>
        </div>

        <div class="tab-pane fade" id="friends" role="tabpanel">
          <div class="row">
            <%= render "friends" %>
          </div>
        </div>
      </div>

    </div> <!-- profile-nav -->
  </div> <!-- col-12 -->
</div> <!-- row -->
