<%= @user.gender %>
<br>
<%= @user.email %>
<br>
<%= @user.bio %>
<br>
<%= @user.location %>
<br>


<div class="row">
  <div class="col-12">
    <img src="" class="img-fluid" width="100%" height="205px" alt="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p>
      <%= @user.full_name %>
    </p>

    <%= link_to "Timeline", user_path(@user) %> |
    <%= link_to "About" %> |
    <%= link_to "Friends" %>
  </div>
</div>

<div class="row">
  <!-- LEFT COLUMN -->
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-header">
        Intro
      </div>
      <div class="card-body">
        <p>
          <%= @user.bio %>
        </p>

        <hr>

        <p>
          <%= @user.location %>
          <br>
          <%= @user.website %>
          <%= @user.instagram %>
          <%= @user.twitter %>
        </p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        Friends
      </div>
      <div class="card-body">
        TEST
      </div>
    </div>
  </div>
  <!-- /LEFT COLUMN -->

  <!-- RIGHT COLUMN -->
  <div class="col-8">
    <div class="row">
      <div class="col">
        <%= form_for [@user, @post] do |f| %>
          <div class="form-group">
            <%= f.text_area :content,
              placeholder: "What's up, #{@user.first_name}?",
              class: "form-control" %>
          </div>

          <div class="form-row">
            <div class="col-10">
              <%= f.text_field :link,
                placeholder: "Image URL",
                class: "form-control" %>
            </div>

            <div class="col-2">
              <%= f.submit "Share", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
      <div class="col">

        <h5 class="mt-4 mb-2">Posts</h5>

        <% if @posts.size > 0 %>
          <% @posts.each do |post| %>

            <% next if post.content.nil? %>

            <div class="card mb-3">
              <div class="card-header">
                <%= post.user.full_name %>
                <span class="float-right">
                  (<%= link_to "delete", user_post_path(@user, post), method: :delete %>)
                </span>

                <br>

                <span class="text-muted" data-toggle="tooltip" data-placement="right" title="<%= time_ago_in_words(post.created_at) %> ago"><%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %></span>
              </div>

              <div class="card-body">
                <%= post.content %>
              </div>

              <div class="card-footer text-muted py-0">
                COMMENT HERE
              </div>
            </div>

          <% end %>
        <% else %>
          <p>Nothing to see here!</p>
        <% end %>
      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- col-8 -->
  <!-- RIGHT COLUMN -->

</div> <!-- row -->


