<div class="row">
  <div class="col-12">
    <%= image_tag "https://via.placeholder.com/1280x350/000000/000000", class: "img-fluid" %>


    <div id="profile-header" class="row">
      <!-- <div class="col-4"> -->
      <div class="h-100 justify-content-center flex-column d-flex pl-4">
        <% if @user.avatar.empty? %>
          <%= image_tag "https://via.placeholder.com/175/000000/FFFFFF?text=AVATAR", id: "profile-avatar", class: "img-fluid border border-white rounded-circle" %>
        <% else %>
          <%= image_tag @user.avatar, id: "profile-avatar", class: "img-fluid border border-white rounded-circle" %>
        <% end %>
      </div>
      <!-- </div> -->

      <div class="col col-sm">
        <div class="h-100 justify-content-center flex-column d-flex text-white">
          <h3 class="shadow-sm"><%= @user.full_name %></h3>
          <span>(<%= @user.username %>)</span>
        </div>
      </div>

      <div class="col-auto col-sm-auto pr-5">
        <div class="h-100 justify-content-center flex-column d-flex">
          <%# binding.pry %>
          <% if current_user != @user %>

            <% if @friendship&.status == 0 %>
              <%= link_to friendship_path(@friendship),
                method: :delete,
                role: "button",
                class: "btn btn-light btn-sm" do %>
                <%= icon("fas", "user-minus") + " Cancel" %>
              <% end %>
            <% elsif current_user.friends.find_by(id: @user) %>
              <%= link_to edit_friendship_path(@friendship), role: "button", class: "btn btn-light btn-sm" do %>
                <%= icon("fas", "user-edit") + " Edit" %>
              <% end %>
            <% else %>
              <%= link_to friendships_path(friend_id: @user),
                method: :post,
                role: "button",
                class: "btn btn-light btn-sm" do %>
                <%= icon("fas", "user-plus") + " Add Friend" %>
              <% end %>
            <% end %>

          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="profile-nav">
      <ul class="nav nav-tabs justify-content-center mb-4" id="profileNav" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab">
            Timeline
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab">
          Friends
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab">
          Requests
          </a>
        </li> -->
      </ul>
      <div class="tab-content" id="profileNavContent">
        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
          <div class="row">
            <%= render "timeline" %>
          </div>
        </div>

        <div class="tab-pane fade" id="about" role="tabpanel">
          <div class="row">
            <%= render "about" %>
          </div>
        </div>

        <div class="tab-pane fade" id="friends" role="tabpanel">
          <div class="row">
            <%= render "friends" %>
          </div>
        </div>

        <!-- <div class="tab-pane fade" id="requests" role="tabpanel">
          <div class="row">
            <%#= render "requests" %>
          </div>
        </div> -->
      </div>
    </div> <!-- profile-nav -->
  </div> <!-- col-12 -->
</div> <!-- row -->
