<div class="row">
  <div class="col-12">
    <%= image_tag "https://via.placeholder.com/1280x350/000000/000000", class: "img-fluid" %>

    <% if @user.avatar.empty? %>
      <%= image_tag "https://via.placeholder.com/175/000000/FFFFFF?text=AVATAR", id: "profile-avatar", class: "img-fluid border border-white rounded-circle" %>
    <% else %>
      <%= image_tag @user.avatar, id: "profile-avatar", class: "img-fluid border border-white rounded-circle" %>
    <% end %>

    <h3 id="profile-name"><%= @user.full_name %></h3>
    <span id="profile-name">(<%= @user.username %>)</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="profile-nav">
      <ul class="nav nav-tabs justify-content-center mb-4" id="profileNav" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab">
            Timeline
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab">
          Friends
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab">
          Requests
          </a>
        </li> -->
      </ul>
      <div class="tab-content" id="profileNavContent">
        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
          <div class="row">
            <%= render "timeline" %>
          </div>
        </div>

        <div class="tab-pane fade" id="about" role="tabpanel">
          <div class="row">
            <%= render "about" %>
          </div>
        </div>

        <div class="tab-pane fade" id="friends" role="tabpanel">
          <div class="row">
            <%= render "friends" %>
          </div>
        </div>

        <!-- <div class="tab-pane fade" id="requests" role="tabpanel">
          <div class="row">
            <%#= render "requests" %>
          </div>
        </div> -->
      </div>
    </div> <!-- profile-nav -->
  </div> <!-- col-12 -->
</div> <!-- row -->
