<% if posts.size > 0 %>
  <% posts.each do |post| %>

    <% next if post.nil? %>

      <div class="card mb-3">

        <div class="card-header">

          <%= post_header(post) %>

          <br>

          <small class="text-muted" data-toggle="tooltip" data-placement="right" title="<%= time_ago_in_words(post.created_at) %> ago">
            <%= post.created_at.localtime.strftime("%A, %d %b %Y %l:%M %p") %>
          </small>
        </div> <!-- card-header -->

        <div class="card-body px-0 pb-0">
          <div class="col">
            <p><%= post.content %></p>
          </div>

          <%# if !post.link.empty? %>
            <!-- Add check to make sure image is an image -->
            <%= image_tag post.link, class: "img-fluid" if !post.link.empty? %>
          <%# end %>
        </div>

        <div class="card-footer text-muted px-1 py-1">
          <%= render partial: "comments/form",
            locals: {
              post: post,
              comment: comment
            } %>
        </div> <!-- card-footer -->

      </div> <!-- card mb-3 -->

  <% end %>
<% else %>
  <p>Nothing to see here!</p>
<% end %>
