<div class="card mb-4">
  <div class="card-header">
    <%= post_header(post) %>

    <br>

    <small class="text-muted" data-toggle="tooltip" data-placement="right" title="<%= time_ago_in_words(post.created_at) %> ago">
      <%= post.datetime %>
    </small>
  </div> <!-- card-header -->

  <div class="card-body p-0">
    <%= post_body(post) %>
  </div>

  <div class="card-footer text-muted px-1 py-1">
    <%= render partial: "comments/form",
      locals: {
        post: post,
        comment: comment
      } %>
  </div> <!-- card-footer -->
</div> <!-- card mb-4 -->
