<!DOCTYPE html>
<html>
  <head>
    <title>Friendster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= render partial: "layouts/nav" %>

    <div class="container">
      <div class="col-12">
        <%= yield %>
      </div>

      <%= params.inspect %>
      <hr>
      <%= request.original_fullpath %>
    </div>
  </body>
</html>
